/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #AF8F61; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7e6236; 
}