.layoutContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 10%;
    flex-direction: column;
    box-shadow: 9px 0 9px -10px #000000,-9px 0 9px -10px #000000;
}

.title {
    display: flex;
    width: 100%;
    height: 20%;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    color: #AF8F61;
    font-size: 40px;
    cursor: default;
}

.tabListContainer {
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 100%;
    flex-direction: column;
    align-items: center;
}

.tabContainer {
    display: flex;
    height: 100%;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #F4F4F4;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.3s; 
}

.tabContainer:hover {
    color: #AF8F61;
}


.tabBorder {
    content: " ";
    border-bottom: 1px solid #F4F4F4;
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.tabContainer:hover .tabBorder {
    width: 60px;
    border-bottom: 1px solid #AF8F61;
}

.socialNetworkContainer {
    display: flex;
    width: 100%;
    margin-top: 90%;
    justify-content: space-evenly;
}

.socialNetworkIcon {
    color: #AF8F61;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.socialNetworkIcon:hover {
    font-size: 25px;
}

.navlink {
    text-decoration: none;
    color: #F4F4F4;
}

.tabContainer:hover .navlink {
    color: #AF8F61;
}